body, html {
    margin: 0;
    padding: 0;
}

.bordered {
        border: 2px solid black; /* 边框宽度为2像素，实线，黑色 */
        border-radius: 10px; /* 圆角半径为10像素 */
        padding: 20px; /* 可选，增加内边距以使内容不靠近边框 */
        width: 500px; /* 边框容器的宽度 */
        height: 300px; /* 边框容器的高度 */


        margin: 0 auto;

        /* position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); */
        
    }

.special-h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.center-div {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.role-choose {
    text-align: center;
}

#select-box {
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#role-select {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 14px;
    height: 25px;
    width: 205px;
}

#name-box {
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#name {
    margin-top: 10px;
    margin-left: 10px;
    height: 20px;
    width: 200px;
}

#submit-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    height: 30px;
    width: 100px;

}