<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IKNP-OT Login</title>
    <link href="static/css/login.css" rel="stylesheet"/>
</head>
<body>
    <div class="center-div">
        <div class="bordered" >
            <h1 class = "special-h1">Login Page</h1>
            <form aciton="/login" method="post">
                <p class = "role-choose">Your Role</p>

                <div id = "select-box">
                    <select id= "role-select">
                        <option value="">Please choose your role</option>
                        <option value="sender">Sender</option>
                        <option value="receiver">Receiver</option>
                    </select>
                </div>

            </form>
        </div>
    </div>
</body>
</html>